#conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#artigo {
  max-width: 1000px;
  font-family: 'Inter';
}

@media (max-width: 1028px) {
  #artigo {
    max-width: 400px;
  }
}

#headline {
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

#headline h1 {
  font-size: 3rem;
  text-align: left;
  margin-bottom: 1.5rem;
}

#headline p {
  font-size: 1.4rem;
}

#artigo strong {
  font-weight: 800;
}

#artigo h2 {
  font-weight: 700;
  font-size: 2.3rem;
  margin: 1rem 0;
  color: var(--blue-hover);
}

#artigo {
  font-size: 1.5rem;
}

#artigo ul {
  margin-left: 5rem;
}

#artigo ul iframe {
  margin: 1rem 0;
}

#artigo img {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}
