#root {
  --black: #000;
  --blue: #1089FF;
  --blue-hover: #2C7DCD;
  --white: #f6f6f6;
  --grey: #d4d4d4;
}

body {
  background: var(--white);
  width: 100vw;
  overflow-x: hidden;
}

header {
  display: block;
  background: var(--blue)
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 75px;
}

@media (max-width: 1028px) {
  nav {
    flex-direction: column;
    height: auto !important;
    padding-bottom: 10px;
  }

  .page--links {
    margin-top: 1rem;
  }
}

.page--links a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 500;
  padding: 8px;
  width: 100%;
  height: 100%;
}

.page--links a:hover {
  background: var(--blue-hover)
}

header nav img {
  width: 164px;
}

nav h1 {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 48px;
  letter-spacing: -5px;
  color: var(--blue);
}

.title h1 .title-highlight {
  color: var(--black);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 65px;
}

.movie-chooser {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-chooser h1 {
  text-transform: uppercase;
}

.movie-chooser .result--Box {
  width: 100%;
  background: #fff;
  padding: 2rem;
  border-radius: 22.5px;
  border: 1px solid #EBEBEB;
}

@media (max-width: 1028px) {
  .result--Box .columns {
    flex-direction: column-reverse;
  }

  .description {
    text-align: center !important;
    margin-bottom: 20px;
    margin-left: 0 !important;
  }
}

main h1 {
  font-family: 'Inter';
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

main button {
  max-width: 409px;
  width: 100%;
  min-height: 61px;
  background: var(--blue);
  outline: none;
  border: none;

  border-radius: 10px;
  margin-top: 28px;

  color: var(--white);
  font-family: 'Inter';
  font-weight: 600;
  font-size: 18px;

  cursor: pointer;
}

main button:hover {
  background: var(--blue-hover)
}

.result--Box {
  margin-top: 5rem;
}

.result--Box h1 {
  margin-bottom: 1rem;
}

.columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.columns img {
  max-width: 200px;
}

.description {
  text-align: left;
  font-family: 'Inter';
  max-width: 500px;

  margin-left: 2rem;
}

.description h3 {
  font-weight: bold;
  font-size: 18px;
  font-family: 'Inter';
  margin-bottom: 10px;
}

footer {
  display: block;
  padding: 8px 0;
  font-family: 'Inter';
  background-color: var(--blue);
  border-top: 2px solid var(--blue-hover);
  margin-top: 2rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1028px) {
  .footer-content {
    flex-direction: column !important;
    text-align: center;
  }
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  text-transform: uppercase;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
footer a:hover {
  color: var(--grey);
}

.information {
  margin-top: 2rem;
  width: 70%;
  background: #fff;
  border-radius: 22.5px;
  border: 1px solid #EBEBEB;

  padding: 2rem;

  font-family: 'Inter';
}

.information h1 {
  font-weight: bold;
  font-size: 30px;
  margin: 2.5rem 0;
  color: var(--blue-hover)
}

.information h2 {
  font-weight: bold;
  font-size: 30px;
  margin: 1.5rem 0;
  color: var(--blue-hover)
}

.information p {
  font-size: 18px;
}

.information img {
  display: block;
  margin: 0 auto;
  margin-top: .5rem;
  margin-bottom: 2rem;
  max-width: 800px;
  width: 100%;
}

.information strong {
  font-weight: bold;
}

#loading {
  position: fixed;
  z-index: 5000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .8);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#loading strong {
  font-weight: bold;
  color: #fff;
  font-family: 'Inter';
}

#loading img {
  width: 80px;
}

.cookies-modal {
  position: fixed;
  z-index: 500;
  bottom: 0;
  border-top: 1px solid #EBEBEB;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  padding: 8px;
  background: #fff;
  font-family: 'Inter';
}

.cookies-modal .text strong {
  font-weight: 800;
}

.cookies-modal a {
  color: var(--blue-hover);
}

.cookies-modal button {
  background: var(--blue);
  outline: none;
  border: none;
  color: var(--white);
  border-radius: 12px;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter';
}

.post img {
  width: 300px;
  height: 200px;
  object-fit: fill;
  margin-right: 1rem;
}

.post a {
  color: var(--blue);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 800;
}

.post a:hover {
  color: var(--blue-hover)
}

@media (max-width: 1028px) {
  .post {
    flex-direction: column;
  }
}